body {
    background: #131418;
    color: white;
}
table {
    border-spacing: 8px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Helvetica', cursive;
    letter-spacing: 5px;
}
th {
    padding: 10px 15px 10px 15px;
    font-size: 4em;
    color: #9ca0b177;
    border: 1px solid #9ca0b177;
}

.taken {
    color: red;
    border: 1px solid rgb(255, 255, 255);
}

.ticker {
    text-align: center;
    margin: 0 auto;
    font-size: 10em;
    letter-spacing: 10px;
    font-family: 'Helvetica', cursive;
}

@media screen and (max-width: 1100px) {
    th {
        padding: 0px;
        font-size: 3em;
        color: #9ca0b177;
        letter-spacing: 2px;
    }
    .ticker {font-size: 7em}
}

@media screen and (max-width: 800px) {
    th {
        padding: 0px;
        font-size: 2em;
        color: #9ca0b177;
        letter-spacing: 2px;
    }
    .ticker {font-size: 5em}
}

@media screen and (max-width: 600px) {
    th {
        padding: 0px;
        font-size: 1.5em;
        color: #9ca0b177;
        letter-spacing: 1px;
    }
    .ticker {font-size: 3em}
}


