body {
    background: #131418;
    color: white;
    font-family: 'Helvetica';
}

table {
    border-spacing: 5px;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

th {
    font-size: 1em;
    color: #9ca0b177;
    letter-spacing: 1px;
    border: 1px solid #9ca0b177;
    border-radius: 5px;
}

.message {
    color: rgb(154,205,50);
    text-align: center;
    margin: 0 auto;
    font-size: 1em;
}

.taken {
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    color: white;
    background: #267731;
}

.last {
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    color: white;
    background: #772626;
}

.ticker {
    text-align: center;
    margin: 0 auto;
    font-size: 3em;
    letter-spacing: 5px;
}

.history {
    text-align: center;
    margin: 0 auto;
    font-size: 1em;
    letter-spacing: 5px;
}

